# Python
__pycache__/
*.py[oc]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Node
node_modules/
dist/
build/
.pnp
.pnp.js
coverage/
*.log

# IDEs
.vscode/
.idea/

# Data & Models
IRMAS-TrainingData/
backend/IRMAS-TrainingData/
*.pkl
*.png

# OS
.DS_Store
Thumbs.db
